.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.href {
    text-decoration: underline;
}
.img {
    border-radius: 15px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}