.root {
    background: #202736;
    background: linear-gradient(to bottom, #181d23 0%, #202736 80%);
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    min-height: 100vh;
    margin: 0 auto;
    z-index: 1;
}


.root:before {
    content: '';
    position: fixed;
    background: url(../../assets/animation.webp) no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: black;
    width: 100%;
    min-height: 100vh;
    z-index: -1;
    opacity: 0;
    animation: gif 1000ms 300ms forwards;
    filter: brightness(50%);
}
.startButton {
    align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
  }
 

  .startButton:hover,
  .startButton:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.startButton:hover {
  transform: translateY(-1px);
}

.startButton:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

@keyframes gif {
    from {
        background-position-y: -100px;
    }
    to {
        opacity: 1;
        background-position-y: 0;
    }
}

.container {
    width: fit-content;
    position: absolute;
    right: 0;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    animation: text-fade-in 1000ms 800ms forwards;
    text-align: center;
    
}

@keyframes text-fade-in {
    from {
        right: 0;
    }
    to {
        opacity: 1;
        right: 25%;
    }
}

.container h1 {
    font-size: 65px;
    font-weight: normal;
    font-style: italic;
    color: #fafafa;
    line-height: 65px;
}

.container p {
    font-size: 28px;
    font-weight: normal;
    color: #fafafa;
    line-height: 32px;
    margin-bottom: 24px;
}

@media only screen and (max-width: 649px) {
    .container {
        right: 50%;
        top: 10%;
        width: 80%;
        transform: translate(50%, 0);
        animation: text-fade-in 1000ms 800ms forwards;
    }

    @keyframes text-fade-in {
        from {
            right: 0;
        }
        to {
            opacity: 1;
            right: 50%;
        }
    }

    .silhouette {
        width: 100%;
    }
}